# LinkSmartThingDirectory.ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**valid** | **Boolean** |  | [optional] 
**errors** | **[String]** |  | [optional] 


